/* 기본 리셋 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
}

body {
  font-family: "GmarketSansMedium", "Open Sans", sans-serif;
  font-size: 1.6;
  color: var(--text-color);
  line-height: 2;
  letter-spacing: 0.5px;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #babcbe;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background-color: inherit;
}
