body {
  background-color: var(--background-color);
  width: 100%;
  height: auto;
  text-align: center;
  padding: 36px 15px;
  margin: 0 auto;
}

header,
main,
footer {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.hero-section {
  max-width: 564px;
  height: 100%;
  padding: 1.6rem;
  margin: 0 auto;
}

.hero-section h1 {
  display: none;
}

.title-img-wrap {
  width: 100%;
  height: 100%;
  /* backround에 img와 repeat position size 를 한번에 작성하려면 background 속성을 사용해야 합니다 */
  background: url(../images/clock.png) no-repeat center / 130px;
}

.title-img {
  height: 130px;
  width: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-section h2 {
  font-family: "OTEnjoystoriesBA", serif;
  color: var(--point-text-color);
  font-weight: normal;
  font-size: 2.2rem;
  margin-top: 2.2rem;
}

/* main start */

/* intro section start */

main section {
  margin-bottom: 60px;
}

main section:nth-child(3) {
  margin-bottom: 0;
}

.intro-section {
  min-width: fit-content;
  max-width: 485px;
  height: auto;
  margin: auto;
  margin-bottom: 60px;
  background: url(../images/quotes.png) no-repeat center / 100%;
}

h3 {
  font-size: 1.4rem;
}

/* calculator section start */

.calculator-section label,
.calculator-section p {
  font-size: 1.4rem;
}

.calculator-section label {
  display: block;
  margin: 20px;
}

.calculator-section input {
  min-width: 156px;
  text-align: center;
  padding: 1.2rem 0;
  margin: 0 8px;
  font-size: 1.4rem;
  color: var(--input-text-color);
  border: none;
  border-radius: 8px;
}

.calculator-section p {
  margin: 1.2rem 0;
}

.calc-btn-wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: end;
}

button {
  background-color: var(--button-color);
  font-size: 1.4rem;
  font-family: "GmarketSansBold", sans-serif;
  color: var(--background-color);
  box-shadow: var(--button-shadow);
  border-radius: 12px;
}

button:hover {
  background-color: #ffffff;
}

.calculator-section button {
  margin-top: 50px;
  width: 240px;
  padding: 20px 50px;
  font-size: 1.4rem;
  letter-spacing: -1px;
}

.click-icon {
  max-width: 48px;
  height: auto;
  object-fit: contain;
}

.result-section {
  margin-top: 50px;
}

.result-section output {
  font-family: "GmarketSansBold", sans-serif;
  margin: 0 12px;
  font-size: 2.2rem;
}

.action-section button {
  padding: 1.6rem 2.2rem;
  margin: 0 4px;
}

.action-section button:nth-child(2) {
  background-color: #ffffff;
}

.action-section button:nth-child(2):hover {
  background-color: var(--button-color);
}

/* footer start */

footer {
  width: 365px;
  margin-bottom: 0;
  font-family: "Noto Sans KR";
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

footer .weniv-logo {
  width: 125px;
  height: auto;
  object-fit: contain;
}

footer p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
}

@media (min-width: 992px) {
  header,
  main,
  footer {
    max-width: 770px;
    height: auto;
  }

  main > section {
    margin-bottom: 120px;
  }

  .hero-section h2 {
    font-size: 3.3rem;
  }

  .calculator-section label,
  .calculator-section p,
  .calculator-section input,
  .calculator-section button,
  .action-section button {
    font-size: 2.4rem;
  }

  .calculator-section form {
    margin-bottom: 100px;
  }

  .calculator-section .result-section {
    margin-top: 100px;
  }

  .calculator-section button {
    width: auto;
    max-width: 100%;
  }

  .result-section output {
    font-size: 7.2rem;
  }
}
