body {
  background-color: var(--background-color);
  width: 100%;
  height: auto;
  text-align: center;
  padding: 36px 10px;
}

header,
main,
footer {
  max-width: 360px;
  margin: 0 auto;
}

.hero-section {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1.6rem;
  background: url(../images/clock.png) no-repeat center / 130px;
}

.hero-section h1 {
  display: none;
}

.clock-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-section h2 {
  font-family: "OTEnjoystoriesBA", serif;
  color: var(--point-text-color);
  font-weight: normal;
  font-size: 2.2rem;
}

footer {
  font-family: "Noto Sans KR";
  font-style: normal;
}
